# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
.venv
venv/
ENV/

# Environment variables
.env

# Log files
logs/
*.log

# Output files
output/
output/*
*.pid

# Cache files
cache/
.cache/
__pycache__/
*.cache

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Data files (consider if you want to include these)
data/backup/
output/cache/
output/data/cache/
.nvm*.Zone.Identifier
